.socials {
    float: right;
    margin-right: 3%;
}

.navbar {
    position: absolute;
    width: 100%;
}
.logoPart {
    float: left;
}

.logoImage {
    display: inline-block;
}

.phoneNumber {
    float: right;
    margin-right: 20%;
}

.icon {
    margin-left: 5px;
}

.main {
    position: absolute;
    margin-top: 2%;
}

.experienceContent {
    display: flex;
    flex-direction: row;
    position: relative;
    bottom:8rem;
    left: 10rem;
}

.projectsTitles {
    display: flex;
    flex-direction: row;
    text-align: center;
    justify-content: space-between;
}

.projectsSubtitle1 {
    margin-right: 30px;
    margin-top: 30px;
    font-weight: bold;
}

.itemHoverSeeProject {
    position: absolute;
    z-index: 2;
    bottom: 5rem;
    left: 3rem;
    color: white;
}

.itemHoverDescription {
    position: relative;
    display: none;
}

.item:hover + .itemHoverDescription {
    display: flex;
  }

.itemHover {
    position: absolute;
    z-index: 2;
    width: 100%;
}

.item:hover {
    background-color: #cee002;
}
.image:hover {
    opacity: 0.5;
}

.itemHoverTitle {
    position: absolute;
    bottom: 7rem;
    left: 3rem;
    color: white;
}

.newsImage:hover + .newsText {
    display: flex;
}

.newsText {
    position: relative;
    display: none;
}
.clients {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerLang:hover {
    color: #cee002;
}

.newsTextDisplayed {
    position: absolute;
    right: 16rem;
}

.item {
    margin: 10px;
}

footer {
    display: flex;
    align-items: flex-start;
    padding: 60px 0;
    flex-wrap: wrap;
  }
footer > div{
    margin: 0 auto;
}

.avis {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 70%;
}

.newsImage {
    margin: 10px;
}

.newsImage:hover {
    background-color: white;
    opacity: 0.1;
    border: 3px solid #cee002;
}

.newsImages {
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
}

.avisClient {
    padding: 30px;
    position: relative;
    color: #999;
    background-color: #f7f7f7;
    margin: 10px;
}

.avispicture {
    border-radius: 50%;
    position: relative;
    z-index: 1;
    top: 15%;
    left: 5%;
}

.itemDisplayedTitle {
    position: absolute;
    right: 20rem;
    z-index: 2;
}

.projectsImage:hover {
    opacity: 0.5;
}

.projectsPictures {
    flex-wrap: wrap;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.projectsSubtitle2 {
    color: grey;
    font-style: italic;
    margin-right: 30px;
    margin-top: 30px;
}

.projectsSubtitle {
    display: flex;
    flex-direction: row;
}

.experienceNumber {
    font-size: 50px;
    font-weight: 400;
}
.experienceInfo {
    margin-left: 1%;
    font-size: 20px;
}

.aboutUs {
    display: flex;
    flex-direction: row;
    width: 60%;
    margin: auto;
}

.aboutUsExperience {
    margin-top: 10rem;
}

.aboutUsImg {
    margin-left: 10%;
}

.experienceBorder {
    border: 0.357rem solid #cee002;
    width: 12rem;
    height: 12rem;
    display: inline-block;
}

.aboutUsText {
    display: flex;
    flex-direction: column;
    max-width: 300px;
}

.projectsSubtitle1:hover {
    color: yellow;
}

.iconSocials:hover {
    background-color: yellow;
  }

  * {box-sizing:border-box}

  /* Slideshow container */
  .slideshow-container {
    max-width: 95%;
    max-height: 95%;
    position: relative;
    margin: 40px auto 0px auto ;
  }
  
  /* Hide the images by default */
  .mySlides {
    display: none;
  }
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }

  @media(max-width: 1180px) {
    .projectsTitles {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 1300px) {
    .aboutUs {
        flex-direction: column;
        align-items: center;
    }
}

@media(max-width: 990px) {

    .avis {
        flex-direction: column;
    }
}

@media(max-width: 768px) {

    footer {
        flex-direction: column;
        align-items: center;
    }
    footer > div {
        margin: 10px;
        text-align: center;
    }
}
  
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }
  
  .text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
  }
  
  .numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
  }
  
  .dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
  }
  
  .active, .dot:hover {
    background-color: #717171;
  }
  
  .fade {
    -webkit-animation-name: fade;
    -webkit-animation-duration: 1.5s;
    animation-name: fade;
    animation-duration: 1.5s;
  }
  
  @-webkit-keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }
  
  @keyframes fade {
    from {opacity: .4}
    to {opacity: 1}
  }